/*
  Layout
*/
// Header
.header {
  width: 100%;
  background: $primary-color;

  &__inner {
    max-width: $base_w;
    margin: auto;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-top: 0.4rem;
    a {
      width: 10rem;
    }
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;

      li {
        margin-right: 1.6rem;

        a {
          font-size: 1.4rem;
          color: $white;
        }

        &.nav__mypage {
          position: relative;

          .nav__mypage-name {
            padding: 1rem;
            position: relative;
            cursor: pointer;

            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              right: -0.8rem;
              transform: translate(0, -50%) rotate(-45deg);
              width: 1rem;
              height: 1rem;
              border-left: 2px solid $white;
              border-bottom: 2px solid $white;
            }
          }

          &:hover {
            .nav__mypage-menu {
              display: block;
            }
          }

          .nav__mypage-menu {
            display: none;
            position: absolute;
            top: 4rem;
            right: -0.8rem;
            z-index: 1;
            width: 25rem;
            background: $white;
            padding: 2.4rem 2rem;
            box-shadow: 0.1rem 0.1rem 1rem 0px rgba(0, 0, 0, 0.2);

            &:before {
              content: "";
              display: block;
              position: absolute;
              top: -1rem;
              right: 1.6rem;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 1rem 1rem 1rem;
              border-color: transparent transparent $white transparent;
            }

            ul {
              display: block;

              li {
                margin-bottom: 1.6rem;

                &:last-child {
                  margin-bottom: 0;
                }

                &.nav__post-create {
                  border-top: 0.1rem solid #ccc;
                  margin: 2.4rem auto 0;
                  padding-top: 2.4rem;

                  .btn--accent {
                    color: $white;

                    &:hover {
                      color: $accent-color;
                    }
                  }
                }

                a {
                  color: #333;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Container
.container {
  max-width: $base_w;
  width: 100%;
  margin: 0 auto;
  padding: 4.8rem 0;
}


// Footer
.footer {
  width: 100%;
  background: $primary-color;
  margin-top: auto;
  padding: 1.6rem 0;

  p {
    text-align: center;
    color: $white;
    font-size: 1.2rem;
  }
}
